$black-very-light: #343434;
$black-light: #2d2d2d;
$black-medium: #1c1c1c;
$black-dark: #131313;
$gray: #969696;
$gray-dark: #777777;

$traktor-active: #2e91a7;
$traktor-active-dark: #007f93;
$traktor-active-orange: #f3980c;

$red-bright: #cc4140;
$red-darker: #3b2120;
$red-dark: #402b2a;

$orange-bright: #c97428;
$orange-darker: #3a281e;
$orange-dark: #3f2f28;

$yellow-bright: #cece0a;
$yellow-darker: #3a3a1e;
$yellow-dark: #3f3f28;

$green-bright: #30ab31;
$green-darker: #1d3a21;
$green-dark: #263f2a;

$blue-bright: #3872cc;
$blue-darker: #1e273a;
$blue-dark: #272f3f;

$violet-bright: #8c55ce;
$violet-darker: #2b243a;
$violet-dark: #322b3f;

$magenta-bright: #ce3abe;
$magenta-darker: #3b2237;
$magenta-dark: #3f2b3d;
