$neutral-300: #969696;
$neutral-400: #777;
$neutral-500: #343434;
$neutral-600: #2d2d2d;
$neutral-700: #1c1c1c;
$neutral-800: #131313;
$primary-500: #2e91a7;
$primary-600: #007f93;
$secondary-500: #f3980c;
$red-bright: #e04a45;
$red-darker: #2c0606;
$red-dark: #3b1409;
$orange-bright: #f39810;
$orange-darker: #271807;
$orange-dark: #332009;
$yellow-bright: #f1f200;
$yellow-darker: #220;
$yellow-dark: #2e2e00;
$green-bright: #6dee45;
$green-darker: #0d2208;
$green-dark: #132f0b;
$blue-bright: #3591ff;
$blue-darker: #0d1829;
$blue-dark: #142137;
$violet-bright: #9053fb;
$violet-darker: #1b1129;
$violet-dark: #251937;
$magenta-bright: #f659f1;
$magenta-darker: #210a20;
$magenta-dark: #2d0e2c;
