$black-light: #2d2d2d;
$black-medium: #1c1c1c;
$black-dark: #131313;
$gray: #969696;
$gray-dark: #777777;

$traktor-active: #2e91a7;
$traktor-active-dark: #007f93;

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark-mixin";

/* Slider */
$themeColor: $traktor-active;
$bgColor: $gray;
/* $disabledColor: #666 !default;
$railBorderRadius: 15px !default;
$railColorDisabled: #ccc !default;

$dotBorderRadius: 50% !default;
$dotShadowColor: rgba($themeColor, 0.38) !default;

$tooltipFontSize: 12px !default;
$tooltipSize: 30px !default;
$tooltipColor: #fff !default;

$stepBorderRadius: 50% !default;

$labelFontSize: 14px !default;
 */
@import "~vue-slider-component/lib/theme/material.scss";

.ag-theme-alpine-dark {
	@include ag-theme-alpine-dark(
		(
			alpine-active-color: $traktor-active,
			header-background-color: $black-light,
			borders: false,
			background-color: $black-dark,
			odd-row-background-color: $black-medium,
			row-hover-color: $traktor-active,
			cell-horizontal-padding: 12px,
		)
	);
	.ag-cell-focus {
		background-color: $traktor-active-dark;
		border: none !important;
	}
	.ag-row-focus {
		background-color: $traktor-active;
	}

	.ag-header {
		// or write CSS selectors to make customisations beyond what the parameters support
		text-style: italic;
	}
}

/* Style */
.v-popper--theme-tooltip .v-popper__inner {
	background: $black-medium;
	color: $gray;
	@apply text-xs;
}

.v-popper--theme-tooltip .v-popper__arrow {
	border-color: $black-medium;
}
#app {
	button {
		@apply bg-black-medium hover:bg-black-dark text-gray-light;
	}
	.active {
		@apply bg-active hover:bg-active-dark text-white;
	}
}

.w-1\/7 {
	width: calc(100% / 7);
}
.w-1\/8 {
	width: calc(100% / 8);
}
.w-1\/9 {
	width: calc(100% / 9);
}
.w-1\/10 {
	width: calc(100% / 10);
}
.w-1\/11 {
	width: calc(100% / 11);
}
